.status-widget {
  cursor: pointer;
  background-color: #61694f;
  border-radius: 7px;
  padding: 5px;
  display: flex;
  align-items: center;

  &__logo {
    padding-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }

  &__data {
    font-size: 15px;
  }
}
